<div class="container mt-5">
  <div class="row">
    <div class="col-lg-2">
      <%= render 'public/items/sidebar', genres: @genres %>
    </div>
    <div class="col-lg-8">
      <div class="bgi">
        ようこそ　ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </div>

      <h3>新着商品</h3>
      <div class="base-container mw-xl">
        <div class="texts-wrapper">
          <div class="contents-title text-center">
            <div class="row justify-content-center">
              <div class="card-deck ml-4 mb-2 text-decoration-none" >
                <% @items.each do |item| %>
                  <div class="text-card-container" style="width:200px">
                    <div class="card content-card">
                      <div class="card-header p-0">
                        <%= link_to item_path(item.id) do %>
                          <%= image_tag item.get_image, size: "150x100", class:"card-img-top"; %>
                        <% end %>
                      </div>
                      <div class="card-body d-block align-items-center">
                        <p class="card-title text-left">
                          <%= link_to item_path(item.id), class:"text-dark" do %>
                            <%= item.name %>
                          <% end %>
                        </p>
                        <p class="card-text text-left">
                          ￥<%= item.tax_price %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= link_to "全ての商品を見る>", items_path %>
  </div>
</div>


