<div class="container">
  <div class="d-flex">
    <h3 class="my-auto bg-light text-center" style="width:300px">ショッピングカート</h3>
    <!--< if current_customer.cart_items.present? %>-->
      <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, class: "btn btn-danger" %>
    <!--< end %>-->
  </div>
 <div>
 <table class="table-bordered mt-3">
   <thead>
     <tr>
       <td class="col-4" style="height:50px">商品名</td>
       <td class="col-1">単価（税込）</td>
       <td class="col-1">数量</td>
       <td class="col-1">小計</td>
       <td class="col-1"></td>
     </tr>
   </thead>
   <tbody>
     <% if current_customer.cart_items.present? %>
     <% @cart_items.each do |cart_item| %>
     <tr>
       <td><%= image_tag cart_item.item.get_image %>
           <%= cart_item.item.name %></td>
        <td><%= cart_item.item.tax_price.to_s(:delimited) %></td>
        <td><%= cart_item.amount %></td>
        <td><%= cart_item.subtotal_payment.to_s(:delimited) %></td>
        <td><%= link_to "削除する", cart_item_path(cart_item.id, cart_item), method: :delete, class: "btn btn-danger" %></td>
     </tr>
      <% end %>
   </tbody>
   <% end %>
  </table>
  </div>
  <div class="d-flex mt-3">
    <p style="width:500px"><%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %></p>
    
      <p class="border border-dark py-2 pl-2 offset-5" style="width:150px">合計金額</p>
      <p class="border border-dark py-2 pl-2" style="width:150px">
        <% if current_customer.cart_items.present? %>
          <%= @total_payment.to_s(:delimited) %>
        <% else %>
          0
        <% end %>
       </p>
    </div>
  </div>
</div>
