<div class="container" >
  <div class="row">
    <h4 class="bg-light d-inline-block mt-sm-1 offset-2 p-0">注文履歴一覧</h4>
    <% if @orders.count == 0 %>
      <h4>履歴はありません</h4>
    <% else %>
      <table class="table-bordered">
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払い金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= order.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td>
              〒<%= order.post_code %>
              <%= order.address %>
              <%= order.name %>
            </td>
            <td>
              <% order.order_items.each do |order_item| %>
                <%= order_item.item.name %>
              <% end %>
            </td>
            <td>
              <%= order.total_payment.to_s(:delimited) %>
            </td>
            <td>
              <%= order.order_status_i18n %>
            </td>
            <td>
              <%= link_to "表示する", order_path(order.id), class:'btn-sm btn-primary' %>
            </td>
          </tr>
        <% end %>
      </table>
      <%= paginate @orders %>
    <% end %>
  </div>
</div>