<div class="container" >
  <div class="row">
    <h4 class="mb-4 bg-light ">注文履歴一覧</h4>
  </div>
  <div class="row">
    <% if @orders.count == 0 %>
      <h4 class="text-center">履歴はありません</h4>
  </div>
    <% else %>
  <div class="col-lg-12">
      <table class="table-bordered mt-3">
        <tr>
          <th class="col-1 bg-light">注文日</th>
          <th class="col-3 bg-light">配送先</th>
          <th class="col-1 bg-light">注文商品</th>
          <th class="col-1 bg-light">支払い金額</th>
          <th class="col-1 bg-light">ステータス</th>
          <th class="col-1 bg-light">注文詳細</th>
        </tr>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= order.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td>
                〒<%= order.post_code %><br>
                <%= order.address %><br>
                <%= order.name %>
            </td>
            <td>
              <% order.order_items.each do |order_item| %>
                <%= order_item.item.name %>
              <% end %>
            </td>
            <td>
              <%= order.total_payment.to_s(:delimited) %>
            </td>
            <td>
              <%= order.order_status_i18n %>
            </td>
            <td class="text-center">
              <%= link_to "表示する", order_path(order.id), class:'btn-sm btn-primary' %>
            </td>
          </tr>
        <% end %>
      </table>
      <%= paginate @orders %>
    <% end %>
  </div>
</div>