<div class="container mt-5">
  <div class="row">
  <!--サイドバー-->
    <div class="col-2">
      <%= render 'sidebar', genres: @genres %>
    </div>

   <!--ここからメイン-->
    <div class="col-9 ml-5">
    　<div class="p-0 d-flex">
       <h3 class="text-left m-0"><b>商品一覧</b></h3>
       <p class="mt-2">（全<%= @items.count %>件）</p>
      </div>
    <!--ここから一覧-->
    <div class="base-container mw-xl">
      <div class="texts-wrapper">
        <div class="contents-title text-center">
          <div class="row justify-content-center">
             <div class="card-deck ml-4 mb-2 text-decoration-none" >
             <% @items.each do |item| %>
               <div class="text-card-container" style="width:200px">
                  <div class="card content-card">
                    <div class="card-header p-0">
                      <%= link_to item_path(item.id) do %>
                      <%= image_tag item.get_image, size: "150x100", class:"card-img-top"; %>
                      <% end %>
                    </div>
                    <div class="card-body d-block align-items-center">
                      <p class="card-title text-left">
                      <%= link_to(item_path(item.id), class:"text-dark") do %>
                      <%= item.name %>
                      <% end %></p>
                      </p>
                      <p class="card-text text-left">￥<%= item.non_tax_price %></p>
                    </div>
                 </div>
                </div>
             <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>