<div class="container mt-5">
  <div class="row">
  <!--サイドバー-->
    <div class="col-md-2">
      <%= render 'sidebar', genres: @genres %>
    </div>
 
  
   <!--ここからメイン-->
    <div class="col-md-9 ml-3">
    　<div class="row">
    <!--写真-->
        <div class="col-4">
          <%= image_tag @item.get_image, size: "150x200", class:"card-img-top"; %>
        </div>
    <!--紹介--> 
    <div class="col-5 ml-3">
      <h3 class="mt-1"><b><%= @item.name %></b></h3>
      <h5 class="mt-4"><%= @item.introduction %></h5>
      <h5 class="mt-4"><b>￥<%= @item.tax_price.to_s(:delimited) %></b><small>（税込）</small></h5>
      
      <!--< if @item.is_active == TRUE %>-->
        <%= form_with model: @cart_item,　local: true do |f| %>
          <!--item_id-->
          <%= f.hidden_field :item_id, :value => @item.id %>
          <!--個数選択-->
          <%= f.select :amount, *[1..10], {include_blank: '個数選択'} %>
          <!--カートに入れる-->
          <%= f.submit 'カートに入れる', class:"btn btn-success ml-5" %>
        <% end %>
      <!--< end %>-->
    </div>
  　</div>
  </div>
</div>